.popup__container {
  max-width: 430px;
  width: 100%;
  background: #ffffff;
  position: fixed;
  left: calc((100% - 430px) / 2);
  border-radius: 10px;
  
}
@media screen and (max-width: 948px) {
  .popup__container {
    left: calc((100% - 282px) / 2);
    max-width: 282px;
  }
}
