.popup__error-block {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 0;
  max-width: 358px;
  width: 100%;
  text-align: left;
  margin-bottom: 30px;
}
.popup__error-block:nth-child(12n) {
  margin-bottom: 0px;
}
