.popup__save-button {
  min-width: 314px;
  min-height: 50px;
  justify-self: center;
  color: #ffffff;
  background: black;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 49px 0 37px;
  cursor: pointer;
  border: none;
  border-radius: 2px;
}
.popup__save-button:hover {
  opacity: 0.8;
}
@media screen and (max-width: 948px) {
  .popup__save-button {
    font-size: 14px;
    line-height: 17px;
    margin: 45px 0 25px;
    min-width: 238px;
    min-height: 46px;
  }
}
